/** @format */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;500;700&family=Oswald:wght@200;300;400;500;700&family=Roboto:wght@100;300;700&family=Teko:wght@300;400;700&family=Ubuntu+Condensed&display=swap');

$fontIBM: 'IBM Plex Mono', monospace;
$fontOswald: 'Oswald', sans-serif;
$fontIBM: 'Roboto', sans-serif;
$fontTeko: 'Teko', sans-serif;
$fontUbuntu: 'Ubuntu Condensed', sans-serif;
